<html>
  <head>
    <h4 class="text-center">Welcome to virtual bucket</h4>
    <title><h1>Login</h1></title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="/stylesheets/global.css" />
  </head>

  <body>
    <section class="container-fluid">
      <section class="row justify-content-center">
        <section class="col-12 col-sm-6 col-md-3">
          <form class="form-container">
            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input
                type="email"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
                placeholder="Enter email"
              />
            </div>
            <div class="form-group">
              <label for="exampleInputName">Name</label>
              <input
                type="text"
                class="form-control"
                id="exampleInputName"
                placeholder="Username"
              />
            </div>
            <div class="form-group">
              <label for="exampleInputLastname">Lastname</label>
              <input
                type="text"
                class="form-control"
                id="exampleInputLastName"
                placeholder="Lastname"
              />
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input
                type="password"
                class="form-control"
                id="exampleInputPassword1"
                placeholder="Password"
              />
            </div>
            <div class="form-group">
            <a href="/users/login">Login here!</a>
            <button
              type="submit"
              class="btn btn-primary btn-block"
              id="register-button"
            >
              Register
            </button>
          </form>
        </section>
      </section>
    </section>
    <script>
      document.getElementById('register-button').addEventListener(
        'click',
        function () {
          var name = document.getElementById('exampleInputName').value;
          var lastName = document.getElementById('exampleInputLastName').value;
          var email = document.getElementById('exampleInputEmail1').value;
          var userpass = document.getElementById('exampleInputPassword1').value;

          var xhr = new XMLHttpRequest();
          var data = new FormData();

          var registeration_url =
            'http://localhost:3000/users/register_user?name=' +
            name +
            '&lastName=' +
            lastName+
            '&email=' +
            email+
            '&userPass=' +
            userpass;

          xhr.onreadystatechange = function () {
            // window.alert(xhr.status);
            if (xhr.readyState == 4) {
              // window.alert('xhr status: ' + xhr.status);
              if (xhr.status == 200) {
                var responsexhr = eval('(' + xhr.responseText + ')');
                alert('User registeration sucessful !');
                window.location = '/users/login/';
              } else {
                alert('not 200');
                window.location = '/users/login/';
              }
            } else {
              //window.alert("not 4");
            }
          };
          xhr.open('POST', registeration_url, true);
          xhr.send(null);
          // window.alert('after req sent!');
        }
        //   false
      );
    </script>
  </body>
</html>
